.header{
    display: flex;
    height: 5vh;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid rgb(214, 214, 214,0.5);
}
.header__icon{
    padding: 20px;
}
.header__icon:hover{
    cursor: pointer;
    color: #ffdd99;
} 